<div class="container-fluid">
  <h2>Course Table</h2>
  <div class="row">
    <div class="col-2">
      <ul class="list-group">
        <li class="list-group-item text-center">
          Course List
        </li>
        <li *ngFor="let course of courses"
            class="list-group-item text-center">
          <fa-icon [icon]="faFile"
                   style="color: cornflowerblue"
                   class="col-1 float-left"></fa-icon>
          <a class="float-left"
             routerLink="/table/courses/{{course._id}}/modules">
            {{course.title}}
          </a>
          <a class="float-right"
             routerLink="/courses/{{course._id}}/quizzes">
            Quizzes
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
